    <div class="col-md-6" style="margin-left: 325px;">
       <div class="row">
        <div class="col-md-8 col-xs-12 text-grey">
            <h1 class="display-1"><strong>Staff Médico</strong></h1>
            <h3>Tenemos el mejor y más reconocido staff de profesionales para
                brindarles los mejores resultados.</h3>
        </div>
        <!--<div class="col-md-12" id="buscador">
            <div class="box">
                <div class="container-search">
                    <input type="text" name="search" placeholder="Puede buscar por nombre, especialidad o CMP" id="usr">
                    <button name="activar_voz" class="icon"> <i class="fa fa-microphone"></i> </button>
                    <button name="buscar" class="icon-alt"><i class="fas fa-search    "></i></button>
                </div>
            </div>
        </div>-->
    </div>
        <div class="row">
        <div class="list_medicos">