 <div class="col-md-3">

    <div class="navigator">
        <div class="cont content-left">
            <a href="/promociones"><img class="concebir-logo" src="http://localhost:3000/images/concebir.png" alt="Logo concebir"></a>
        </div>

        <div class="cont content-right">
            <a class="nodisplay" href="/"><img src="http://localhost:3000/images/iconos/POWER.png" class="nav-icon-alt icon__ logout  float-right"
                    alt="" style="width: 60px;"></a>
            <a class="nodisplay" href="/actualizar-perfil"><img src="http://localhost:3000/images/iconos/AJUSTES-03.png"
                    class="nav-icon-alt icon__ float-right" style="width: 60px;" alt=""></a>
            <a class="nodisplay" href="/reservas"><img src="http://localhost:3000/images/iconos/MIS-CITAS-03.png"
                    class="nav-icon-alt icon__ float-right" style="width: 60px;" alt=""></a>
            <a class="nodisplay" href="/u">
                <img src="http://localhost:3000/images/iconos/MEDICOS-03.png" class="nav-icon-alt icon__ doctores float-right" style="width: 60px;"
                    alt=""></a>
            <a id="bars"><i class="fas fa-bars icon__ float-right"
                    style="margin-top: 30px; margin-right: 18px;"></i></a>
        </div>
    </div>
</div>