 <div id="section-20" class="section-20 visible">
        <div class="box">

        </div>
         <ul id="list-items">
            <li id="promociones">
                <a href="/promociones"><img id="promociones-img" src="images/iconos/PROMOCIONES-02.png" class="nav-icon"
                        alt="">Promociones</a>
            </li>
            <li id="medicos">
                <a href="/doctores"><img id="medicos-img" src="images/iconos/MEDICOS.png" class="nav-icon" alt="">Staff Médico</a>
            </li>
            <li id="sedes">
                <a href="/sedes"><img id="sedes-img" src="images/iconos/SEDES.png" class="nav-icon"
                        alt="">Sedes Concebir</a>
            </li>
            <li id="citas">
                <a href="/miscitas"><img id="citas-img" src="images/iconos/MIS-CITAS.png" class="nav-icon" alt="">Mis
                    citas</a>
            </li>
          
          
            <li id="ajustes">
                <a href="/configuracion"><img id="ajustes-img" src="images/iconos/AJUSTES.png" class="nav-icon"
                        alt="">Configuraciones</a>
            </li>
        </ul>
        <ul class="ul-bottom">
            <li>
                <a id="logout" href="/"><i class="nav-icon fas fa-sign-out-alt"></i>Salir</a>
            </li>
        </ul>
        <div class="icon-bottom">
            <a href="https://facebook.com/concebirperu" target="_blank"><img src="http://localhost:3000/images/iconos/facebook.png" alt=""
                    class="social-buttons"></a>
            <a href="https://www.instagram.com/concebir_peru/" target="_blank"><img src="http://localhost:3000/images/iconos/instagram.png" alt=""
                    class="social-buttons"></a>
        </div>

    </div>