body {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.panel:hover {
    cursor: pointer;
}

.menu_lateral {
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: green;
}

.list_medicos {
    width: 100%;
    margin: 10px auto;
    height: 100vh;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.section-20 ul>li {
    list-style: none;
    display: block;
    /*margin: 20px auto;*/
}

.section-20 ul>li>a {
    text-decoration: none;
    color: white;
}

@media (min-width: 992px) {
    /*.modal-lg {
        width: 900px;
        position: absolute;
        right: 20px;

    }*/

}

@media (max-width: 450px) {

    .section-20 {
        display: none;
    }

    .section-80 {
        width: 100%;
        margin: 10px auto;
    }

    .flex-section {
        margin: 0 !important;
        width: 100%;
    }
}

.cover {
    background-image: url("/concebir-fondo.jpg");
    background-size: cover;
    font-size: 18px;
    height: auto;
    min-height: 100vh;
    background-position: center center;
    margin-bottom: 0;
    padding-top: 0;
}

#loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.custom__img {
    width: 330px;
    height: 170px;
}





.bolder {
    color: #666;
    text-decoration: none;
    font-weight: bold;
}



.custom__h1 {
    margin-top: 40px;
    font-size: 36px !important;
}

.__top {
    margin-top: 50px;
}







._simple {
    font-size: 12px;
    font-weight: initial;
}

._left {
    float: left;
}

._right {
    float: right;
}


.__disabled {
    background-color: #5efc82;
}

.reservar {
    display: block;
    background-color: green;
    margin: 0 auto;
    width: 40%;
    height: 45px;
    font-size: 21px;
    border-radius: 16px;
    border: none;
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn_calendar {
    border: none;
    background-color: green;
    color: white;
    border-radius: 4px;
    display: block;
    width: 60%;
    margin: 10px auto;
    height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}


/***********************************************************************/
:root {
    --verde: #2d991f;
    --amarillo: #fea500;
    --amarillo-hover: #ce8701;
    --gris: #6a6669;
}

/*LOGIN*/

.form-login {
    width: 40%;
    padding: 4rem;
    background-color: #ffffffee;
    border-radius: 30px;
    margin-left: 60%;
    margin-right: 12%;
    z-index: 10;

}

.father-form-login {
    display: flex;
    align-items: center;
}

.logo-login {
    margin-bottom: 4rem;
}

.con__input::placeholder {
    text-align: center;
}

.con__input {
    text-align: center;
    border: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid black;
    height: 60px;
    font-size: 21px;
    transition-property: border, border-radius;
    transition-duration: .5s;
}

.con__input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--verde);
}

.con__input:hover {
    border-bottom: 1px solidvar(--verde);
}

.btn__green {
    background-color: var(--verde);
    width: 100%;
    font-size: 21px;
    padding: 15px 0;
    margin: 0 auto;
    border-radius: 32px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn__green:hover {
    background-color: #00c853;
    color: white;
}

.circle-green {
    position: fixed;
    bottom: -30%;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background-color: #009623aa;
    border-radius: 500px;
    margin-left: auto;
    margin-right: auto;
}

.circle-orange {
    position: fixed;
    top: -31%;
    right: -166px;
    width: 400px;
    height: 400px;
    background-color: var(--amarillo);
    border-radius: 500px;
}

.text-register {
    font-size: 15px;
}

@media (max-width: 950px) {
    .form-login {
        width: 60%;
        padding: 3rem;
        background-color: #ffffffee;
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
    }


}

@media (max-width: 600px) {
    .form-login {
        width: 90%;
        padding: 2rem;
    }

    .logo-login {
        width: 200px;
    }

    .circle-green {
        width: 300px !important;
        height: 300px !important;
        bottom: -23% !important;
    }
}

/*REGISTER*/


.con__input_r::placeholder {
    text-align: center;
}

.con__input_r {
    text-align: center;
    border: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 8px;
    height: 50px;
    transition-property: border, border-radius;
    transition-duration: .5s;
}

.con__input_r:focus {
    border: none;
    outline: none;
    border-bottom: 1px solidvar(--verde);
}

.con__input_r:hover {
    border-bottom: 1px solidvar(--verde);
    border-radius: 15px;
}


.content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select {
    max-width: 280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.content-select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 60px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: #999;
    font-family:
        'Quicksand', sans-serif;
    border-radius: 21px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select i {
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid gray;
    border-bottom: 4px solid gray;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

.content-select:hover i {
    margin-top: 3px;
}

/* MENU ESTATICO */
/*Superior*/
.navigator {
    width: 100%;
    height: 100px;
    background-color: none;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.cont {
    flex: 1;
}

.navigator a i {
    color: var(--gris);
}

.icon__ {
    font-size: 30px;

}

.content-left {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.content-right {
    margin-right: 20px;
}

.concebir-logo {
    margin-left: 30px;
}

.flex-section {
    width: 100%;
    height: 100vh;
    position: relative
}

@media (max-width: 996px) {
    .nodisplay {
        display: none !important;
    }

    .concebir-logo {
        width: 140px;
    }
}

/*Lateral*/
.nav-icon {
    width: 45px;
    padding: 10px;
}

.section-20 {
    background-color: green;
    float: left;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 90px;
    z-index: 100;
}

.section-20 ul {
    padding: 0;
    margin-left: 20px;
}

.section-20 ul li {
    font-size: 20px;
}

.ul-bottom {
    position: fixed;
    bottom: 0;
}

.icon-bottom {
    position: fixed;
    bottom: 30px;
    left: 222px;
}

.icon-bottom a {
    text-decoration: none;
    color: var(--amarillo);
    font-size: 26px;

}

/*Sección dinámica*/

.section-80 {
    position: absolute;
    bottom: 0;
    top: 80px;

}

.section-80-width {
    width: 100% !important;
}

.section-80-left {
    left: 300px;
}

/* MEDICOS */
.display-1 {
    font-size: 50px;
}

.container-search {
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 20px;
}

.container-search input {
    width: 50%;
    height: 50px;
    border: none;
    background-color: #dddddd;
    font-size: 10pt;
    float: left;
    color: var(--gris);
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-search input::-webkit-input-placeholder {
    color: #65737e;
}

.container-search input:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.container-search input::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.container-search input:-ms-input-placeholder {
    color: #65737e;
}

.container-search button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: var(--verde);
    height: 50px;
    width: 50px;
    color: white;
    opacity: 1;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-search button.icon-alt {
    border-radius: 5px;
    border: none;
    background: var(--verde);
    height: 50px;
    width: 50px;
    color: white;
    opacity: 1;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}



.container-search:hover button.icon:hover {
    background: white;
}

.ver__perfil {
    background-color: var(--verde);
    color: white;
    border-radius: 10px;
    padding: 0 15px;
    outline:none;
}

.text-content {
    padding: 5px;
    color: var(--gris);
}

.med {
    box-shadow: 1px 1px 10px gray;
    margin-bottom: 40px;
}

.img-doctor {
    width: 100%;
}

.text-grey {
    color: var(--gris);
}

/*VER DOCTOR*/

.title-horario {
    margin-top: 5px;
}

.img-doctor-select {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    box-shadow: 1px 1px 10px grey;
    margin-left: 19px !important;
    margin-top: 20px;
}

@media (min-width: 992px) {
    .img-doctor-select {
        position: inherit;
        right: -15%;
        margin-bottom: 30px;
    }
}

.container-horarios {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.data-table {
    font-size: 10px;
}

.data-table-body {
    font-size: 10px;
}

.size-col {
    width: 14.29%;
}

.thead {
    border-top: 1px solid #cccccc;
}

.mb-3 {
    margin-bottom: 1.5rem;
}


.content-select-d select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-select-d select::-ms-expand {
    display: none;
}

.content-select-d {
    max-width: 280px;
    position: relative;

}

.content-select-d select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 40px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: var(--verde);
    color: white;
    font-size: 1em;
    font-family:
        'Quicksand', sans-serif;
    border-radius: 21px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select-d i {
    position: absolute;

    right: 20px;
    top: calc(50% - 30px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

.content-select-d:hover i {
    margin-top: 3px;
}

/*SEDES*/
.subtitle {
    font-weight: 100;
    font-size: 20px;
}

.card-mapa {
    box-shadow: 1px 1px 10px gray;
    margin-bottom: 40px;
}

.img-card-mapa {
    width: 100%;
    height: 200px;
}

.title-sede {
    color: var(--verde);
    font-weight: 600;
    font-size: 18px;
}

.icon-card {
    color: var(--amarillo);
}

/*MIS CITAS*/
.container-table {
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 40px;

}

.table-miscitas {
    border-collapse: collapse;
}

.table-head {
    font-size: 15px;
}

.col-left {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-top: 15px solid #eeeeee;
    border-bottom: 15px solid #eeeeee;
}

.col-center {
    background-color: white;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-top: 15px solid #eeeeee;
    border-bottom: 15px solid #eeeeee;
}

.col-right {
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-top: 15px solid #eeeeee;
    border-bottom: 15px solid #eeeeee;
}

/*MIS EXAMENES*/
.table-button-green {
    background-color: var(--verde);
    color: white;
}

.btn-download-table {
    text-decoration: none;
    color: white;
}

/*PROMOCIONES*/
.container-promo {
    box-shadow: 1px 1px 10px gray;
    margin-bottom: 40px;
}

.img-promo {
    width: 100%;
}

.padding-promo {
    padding: 80px;
}

/*AJUSTES DE CUENTA*/
.padding-padre {
    padding: 0 40px;
}

.container-cuenta-padre {
    background-color: none;
    border-radius: 20px;
    padding: 0 40px;
}

.con_label_input {
    font-size: 15px !important;
    color: grey !important;
}

.container-cuenta-hijo {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
}



.con__input_a {
    border: none;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid black;
    height: 60px;
    font-size: 21px;
    transition-property: border, border-radius;
    transition-duration: .5s;
}

.con__input_a:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--verde);
}

.con__input_a:hover {
    border-bottom: 1px solidvar(--verde);
    border-radius: 15px;
}

.mb-3 {
    margin-bottom: 40px;
}

/*--------------------------- ADMIN ----------------------------*/
/*indexAdmin*/
.float-right {
    display: inline-block;
    float: right;
    margin-top: 10px;
    /*margin-left: 18px;*/
}

.width-77 {
    width: 77%;
}

/*BANNERS*/
.container-banner {
    border-radius: 20px;
    box-shadow: 1px 1px 10px gray;
    padding: 20px;
    margin-bottom: 20px;
}

.overflow-y {
    overflow-y: scroll;
}

@media (max-width: 767px) {
    .concebir-logo {
        width: 90px !important;
    }

    .navigator {
        height: 50px !important;
    }

    .fa-bars {
        margin-top: 0 !important;
    }

    .display-1 {
        font-size: 35px !important;
    }

    .section-20 {
        top: 50px !important;
    }

    .section-80 {
        top: 20px !important;
    }

    .padding-promo {
        padding: 40px !important;
    }

    .img-doctor-select {
        margin-left: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 20px !important;
    }

    #buscador {
        top: 45px !important;
    }
}

#buscador {
    z-index: 200;
    position: fixed;
    top: 80px;
    left: -25px;
}

#buscador input {
    width: 175px !important;
}

#list-items {
    margin-top: 10px;
}

.nav-icon {
    width: 70px !important;
}

.social-buttons {
    width: 30px;
}

.nav-icon-alt {
    padding: 10px;
    width: 50 px;
}

.circle-green-alt {
    position: fixed;
    top: 17%;
    right: -120px;
    width: 200px;
    height: 200px;
    background-color: #009623aa;
    border-radius: 500px;
    z-index: -10000;
}

.circle-orange-alt {
    position: fixed;
    top: 17%;
    right: -120px;
    width: 200px;
    height: 200px;
    background-color: var(--amarillo);
    border-radius: 500px;
    z-index: -10000;
}


.circle-orangeTwo-alt {
    position: fixed;
    bottom: -11%;
    left: 13%;
    width: 200px;
    height: 200px;
    background-color: var(--amarillo);
    border-radius: 500px;
    z-index: -10000;
}

.card-content {
    background-color: white;
}

.navigator {
    background-color: white;
}

.element-modal-one,
.element-modal-two {
    display: inline-block;
}

.element-modal-one {
    width: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    vertical-align: top;
}


.element-modal-two {
    width: 70%;
}

.element-modal-two {
    font-size: 20px;
}

.btn-orange {
    background-color: var(--amarillo);
    font-size: 18px;
    color: white;
    border-radius: 30px;
    padding: 8px 22px;
    text-decoration: none;
}


.btn-orange:hover {
    background-color: var(--amarillo-hover);
    text-decoration: none;
}

@media (max-width: 767px) {

    .element-modal-one,
    .element-modal-two {
        width: 100%;
    }
}

input[type="checkbox"] {
    box-shadow: -1px 1px 1px black;
}

#datetimepicker12 {
    background-color: white;
    border-radius: 20px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: var(--amarillo);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: var(--amarillo) ;
}

.bootstrap-datetimepicker-widget table td span.active{
    background-color: var(--amarillo);
    border-radius: 20px;
}

.icon-reserva{
    background-color: var(--amarillo);
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#horas{
    background-color: #00000000;
    border: 1px solid #00000000;
    box-shadow: none;
    border-radius: 10px;
}

#horas:focus{
    background-color: #00000000;
    border: 1px solid #00000000;
    box-shadow: none;
    border-radius: 10px;
}

#horas:hover{
    background-color: #00000000;
    border: 1px solid #00000000;
    box-shadow: none;
    border-radius: 10px;
}

